<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  </head>
  <body>
  	<script type="text/javascript">
       var socket=io.connect('/');
       socket.on('connected',function(){
         alert('connected to chattingRoom!');
       });
  	</script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
